version: "3.9"

services:
  redis:
    image: redis:7
    container_name: crypto-redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  backend:
    build: ./backend
    container_name: crypto-backend
    env_file:
      - ./backend/.env
    depends_on:
      - redis
    ports:
      - "4000:4000"

  frontend:
    build: ./frontend
    container_name: crypto-frontend
    depends_on:
      - backend
    ports:
      - "3000:3000"

volumes:
  redis_data:
